html
    head    
        title="Pug"
    body 
        form(action="/productos" method="post"  enctype="multipart/form-data")
            div 
                label(for="")="titulo" 
                input(type="text" name="title") 
            div 
                label(for="")="precio" 
                input(type="text" name="price") 
            div 
                label(for="")="titulo" 
                input(type="file" name="thumbnail") 

            button="enviar"
        
        a(href="/productos")="Mostrar lista de libros" 